---
layout: default
---

<figure class="logo">
  <img src="img/logo.png" />
</figure>

<div class="tagline text-center">
  <span class="title-caps the-date">September 1st</span>
  <br>
  <span class="title-caps">at <a href="https://goo.gl/maps/97gt4JzwsSA2" target="_blank">Second Unitarian Church</a></span>
  <br>
  656 W Barry Ave., Chicago
  <br>
  <br>
  Featuring:
  <br>
  Liz Carroll | Ida y Vuelta | Patrik Ahlberg &amp; Vidar Skrede
  <br>
  Emily &amp; Mareva | Gaffer | Barn Dance | Pullman Morris &amp; Sword
  <br>
  <em>More music, dance, workshops, singing and jamming to be announced!</em>
</div>
<div class="tagline text-center">
  <h1>
    <a href="https://www.brownpapertickets.com/event/3519252" target="_blank">Tickets available now!</a>
  </h1>

<div class="tagline text-center">

<div class="perk-list">
{% include perk.html target="perk5" image="img/perk5.png" description="Your name in this year's program"%}
{% include perk.html target="perk10" image="img/perk10.png" description="The 2017 Midwest Sing & Stomp Compilation CD"%}
{% include perk.html target="perk15" image="img/perk15.png" description="The 2018 Midwest Sing & Stomp Compilation CD"%}
{% include perk.html target="perk15shirt" image="img/perk15shirt.png" description="The 2018 Midwest Sing & Stomp T-Shirt"%}
{% include perk.html target="perk25" image="img/perk25.png" description="2018 CD and a T-Shirt"%}
{% include perk.html target="perk30" image="img/perk30.png" description="Ticket and a T-Shirt"%}
{% include perk.html target="perk50" image="img/perk50.png" description="Tickets, 2018 CD, and a T-Shirt"%}
{% include perk.html target="perk100" image="img/perk100.png" description="Couples Package: Two tickets, two t-shirts, two different CDs"%}
{% include perk.html target="perk1000" image="img/perk1000.png" description="Personal House Concert"%}
</div>
