@import 'bootstrap';

.logo {
  width: 100%;
  img {
    max-width: 400px;
    margin: auto;
  }
  img.perk-logo {
    max-width: 200px;
    margin: auto;
  }
}

.tagline {
  font-size: 16pt;
  margin: 15px 0;
  color: #be1d2c;
}

body {
  background-color: #FFDE17;
  font-family: $base-font-family;
}

.social-icon {
  max-width: 64px;
}

.site-footer {
  border: none;
}

.perk-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #E6E7E9;
  align-items: center;
  justify-content: center;
  max-width: 941px;
  margin: 0 auto;
}

.perk {
  flex: 1;
  align-self: flex-start;
  font-style: italic;
  margin: 25px;
  min-width: 200px;
  max-width: 200px;
  .graphic-container {
    background-color: #eee;
  }
}

.perk-image {
  background-color: #eee;
  height: 100vh;
}
